##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_START
COMBINE_MESSAGE_SIGNATURE
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_END

##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_COMBINE_MESSAGE_SIGNATURE_START
	{% for variant in variants -%}
	} else if (0 == strcmp(sig->method_name, "SLH_DSA_{{variant | upper}}")) {
		// signed_msg = signature || msg
		*signed_msg_len = signature_len + msg_len;
		*signed_msg = OQS_MEM_malloc(*signed_msg_len);
		if (*signed_msg == NULL) {
			return OQS_ERROR;
		}
		memcpy(*signed_msg, signature, signature_len);
		memcpy(*signed_msg + signature_len, msg, msg_len);
		return OQS_SUCCESS;
	{% endfor %}	
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_COMBINE_MESSAGE_SIGNATURE_END