##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_START
ADD_ENABLE_BY_ALG
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_END

##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_ADD_ENABLE_BY_ALG_START
option(OQS_ENABLE_SIG_SLH_DSA "Enable slh_dsa algorithm family" ON)
{% for variant in variants -%}
cmake_dependent_option(OQS_ENABLE_SIG_slh_dsa_{{variant}} "" ON "OQS_ENABLE_SIG_SLH_DSA" OFF)
{% endfor %}
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_ADD_ENABLE_BY_ALG_END
