##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_START
ADD_ALG_ENABLE_DEFINES
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_IDENTIFIER_LIST_END


##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_ADD_ALG_ENABLE_DEFINES_START
#cmakedefine OQS_ENABLE_SIG_SLH_DSA 1
{% for variant in variants -%}
#cmakedefine OQS_ENABLE_SIG_slh_dsa_{{variant}} 1
{% endfor %}
##### OQS_COPY_FROM_SLH_DSA_FRAGMENT_ADD_ALG_ENABLE_DEFINES_END