# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @dstebila @baentsch
/.github/workflows @SWilson4
/docs/cbom.json @bhess
/scripts/copy_from_upstream @baentsch @bhess @alexrow @praveksharma
/src/common @dstebila
/src/common/*/*arm* @Martyrshot
/src/common/libjade_shims @praveksharma
/src/kem/bike @brian-jarvis-aws
/src/kem/frodokem @dstebila
/src/kem/kyber @bhess
/src/kem/kyber/libjade* @praveksharma
/src/kem/ml_kem @bhess
/src/kem/ntru @saitomst
/src/sig/cross @alexrow
/src/sig/mayo @bhess
/src/sig/ml_dsa @bhess
/src/sig_stfl/lms @ashman-p
/src/sig_stfl/xmss @cothan
/tests/ACVP_Vectors @bhess
/tests/PQC_Intermediate_Values @bhess
/tests/test_acvp_vectors.py @bhess
/tests/test_sig_stfl.c @ashman-p @cothan
