.objs/
.objs_upstream/
include/
liboqs.a
liboqs.so
src/config.h
test_kem
test_kem_shared
kat_kem
speed_kem
example_kem
*dSYM
src/*.o
src/*/*.o
src/*/*/*.o
src/*/*/*/*.o
src/*/*/*/*/*.o
src/*/*/*/*/*/*.o
src/*/*/*/*/*/*/*.o
src/kem/frodokem/upstream/frodo640/
src/kem/frodokem/upstream/frodo976/
docs/doxygen
kat_kem_rsp/
*~
usr_local
src/kem/sike/upstream/Optimized_Implementation/portable/SIKEp503/
src/kem/sike/upstream/Optimized_Implementation/portable/SIKEp751/
vendor
