.objs/
.tmp/
include/
liboqs.a
liboqs.so
src/config.h
test_kem
speed_kem
example_kem
*dSYM
src/*.o
src/*/*.o
src/*/*/*.o
src/*/*/*/*.o
src/*/*/*/*/*.o
src/*/*/*/*/*/*.o
src/*/*/*/*/*/*/*.o
src/kem/frodokem/upstream/frodo640/
src/kem/frodokem/upstream/frodo976/
