language: c
dist: trusty
sudo: true

matrix:
  include:
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - doxygen
        - graphviz
        - gcc-7
        - libssl-dev
    before_install:
      - bash .travis/install-clang-format-linux.sh
    env:
      - ARCH=x64
      - CC_OVERRIDE=gcc-7
      - CHECK_STYLE=true
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - doxygen
        - graphviz
        - gcc-7
        - libssl-dev
    env:
      - ARCH=x86
      - CC_OVERRIDE=gcc-7
  - os: osx
    compiler: clang
    before_install:
      - brew install doxygen
    env:
      - ARCH=x64
      - CC_OVERRIDE=clang

script:
  - .travis/all-tests.sh
