language: c
dist: trusty
sudo: true

matrix:
  include:
  - os: linux
    compiler: arm-linux-gnueabi-gcc
    addons:
      apt:
        packages:
        - gcc-arm-linux-gnueabi
        - libc6-dev-armel-cross
        - qemu
    script:
    - scripts/arm-cross-compile.sh
    - scripts/arm-run-tests-qemu.sh
  - os: osx
    compiler: clang
    env:
    - WITH_OPENSSL=1
    - SKIP_TESTS=style
    - HOMEBREW_NO_AUTO_UPDATE=1
    before_install:
    - brew install doxygen graphviz openssl@1.1
    - pip3 install pytest pytest-xdist
    script:
    - autoreconf -i
    - ./configure --enable-silent-rules
    - make
    - make test
    - ./configure --enable-silent-rules --disable-shared
    - make clean
    - make
    - make check
    - python3 -m pytest --verbose --numprocesses=auto
  - os: osx
    compiler: clang
    env:
    - WITH_OPENSSL=0
    - SKIP_TESTS=style
    - HOMEBREW_NO_AUTO_UPDATE=1
    before_install:
    - brew install doxygen graphviz
    - pip3 install pytest pytest-xdist
    script:
    - autoreconf -i
    - ./configure --enable-silent-rules --without-openssl
    - make
    - make test
    - ./configure --enable-silent-rules --disable-shared
    - make clean
    - make
    - make check
    - python3 -m pytest --verbose --numprocesses=auto
