language: c
sudo: false

matrix:
  include:
  - os: linux
    compiler: gcc
    env: CC_OQS=gcc-4.8
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-4.8
        - libnacl-dev
    before_install:
      - wget http://downloads.sourceforge.net/project/astyle/astyle/astyle%202.05.1/astyle_2.05.1_linux.tar.gz
      - tar xzf astyle_2.05.1_linux.tar.gz
      - cd astyle/build/gcc && make && export PATH=$(pwd)/bin:$PATH && cd ../../../
  - os: linux
    compiler: gcc
    env: CC_OQS=gcc-4.9
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-4.9
        - libnacl-dev
    before_install:
      - wget http://downloads.sourceforge.net/project/astyle/astyle/astyle%202.05.1/astyle_2.05.1_linux.tar.gz
      - tar xzf astyle_2.05.1_linux.tar.gz
      - cd astyle/build/gcc && make && export PATH=$(pwd)/bin:$PATH && cd ../../../
  - os: linux
    compiler: gcc
    env: CC_OQS=gcc-5
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-5
        - libnacl-dev
    before_install:
      - wget http://downloads.sourceforge.net/project/astyle/astyle/astyle%202.05.1/astyle_2.05.1_linux.tar.gz
      - tar xzf astyle_2.05.1_linux.tar.gz
      - cd astyle/build/gcc && make && export PATH=$(pwd)/bin:$PATH && cd ../../../
  - os: linux
    compiler: gcc
    env: CC_OQS=gcc-6 USE_OPENSSL=1
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gcc-6
        - libssl-dev
        - libnacl-dev
    before_install:
      - wget http://downloads.sourceforge.net/project/astyle/astyle/astyle%202.05.1/astyle_2.05.1_linux.tar.gz
      - tar xzf astyle_2.05.1_linux.tar.gz
      - cd astyle/build/gcc && make && export PATH=$(pwd)/bin:$PATH && cd ../../../
  - os: osx
    compiler: clang
    env: CC_OQS=clang AES_NI=0 USE_OPENSSL=1 ENABLE_CODE_MCBITS=1
    before_install:
      - brew install astyle openssl nacl

script:
  - make
  - make check
  - bash .travis-style-check.sh
  - bash .travis-global-namespace-check.sh
  - bash .travis-banned-functions-check.sh
