version: 1.0.{build}

# TODO: Support Visual Studio 2017
image: Visual Studio 2019

platform: x64

branches:
  except:
    - /main-new-.*/
    - /ghactionsonly-.*/

environment:
  matrix:
    - BUILD_SHARED: ON
      COMPILER: cygwin
      OQS_ALGS_ENABLED: All
    - BUILD_SHARED: OFF
      COMPILER: cygwin
      OQS_ALGS_ENABLED: STD
    - BUILD_SHARED: ON
      OQS_USE_OPENSSL: ON
      COMPILER: cygwin
      OQS_ALGS_ENABLED: NIST_R4
    - BUILD_SHARED: OFF
      COMPILER: msvc2019
      OQS_ALGS_ENABLED: NIST_R4
    - BUILD_SHARED: OFF
      COMPILER: msvc2019
      OQS_USE_OPENSSL: ON
      OQS_ALGS_ENABLED: All
    - BUILD_SHARED: ON
      COMPILER: msvc2019
    - BUILD_SHARED: OFF
      COMPILER: msys2
    - BUILD_SHARED: ON
      COMPILER: msys2

for:
  - matrix:
      only:
        - OQS_USE_OPENSSL: ON
    before_build:
      - cmd: |-
             choco install openssl
             SET "OPENSSL_ROOT_DIR=C:\OpenSSL-Win64"

build_script:
  - cmd: '%APPVEYOR_BUILD_FOLDER%\appveyor_build.bat'

before_test:
  - cmd: |-
         SET "PATH=C:\Python37-x64;C:\Python37-x64\Scripts;%PATH%"
         pip.exe install pytest pytest-xdist pyyaml

test_script:
  - cmd: |-
         cd %APPVEYOR_BUILD_FOLDER%
         set PATH=%APPVEYOR_BUILD_FOLDER%\build\bin;c:\cygwin64\bin;%PATH%
         if not exist tmp (mkdir tmp) 
         python -m pytest --numprocesses=auto -vv --maxfail=10 --ignore=tests/test_code_conventions.py --junitxml=build\test-results\pytest\test-results.xml

after_test:
  - ps: |-
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\build\test-results\pytest\test-results.xml))
