version: 1.0.{build}

image: Visual Studio 2019

platform: x64

branches:
  except:
    - /master-new-.*/

environment:
  matrix:
    - BUILD_SHARED: OFF
      COMPILER: msvc2019
    - BUILD_SHARED: ON
      COMPILER: msvc2019
#    - BUILD_SHARED: OFF
#      COMPILER: msys2
#    - BUILD_SHARED: ON
#      COMPILER: msys2

build_script:
  - cmd: '%APPVEYOR_BUILD_FOLDER%\appveyor_build.bat'

before_test:
  - cmd: |-
         SET "PATH=C:\Python37;C:\Python37\Scripts;%PATH%"
         pip.exe install pytest pytest-xdist

test_script:
  - cmd: |-
         cd %APPVEYOR_BUILD_FOLDER%\build
         set PATH=%cd%\bin;%PATH% && ninja run_tests

after_test:
  - ps: |-
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test-results\pytest\test-results.xml))
