version: 1.0.{build}

# TODO: Support Visual Studio 2017
image: Visual Studio 2019

platform: x64

branches:
  except:
    - /master-new-.*/

init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
  - set PATH="C:\\Python37";"C:\\Python37\Scripts";%PATH%

environment:
  matrix:
    - BUILD_SHARED: ON

before_build:
  - cmd: |-
      mkdir build
      cd build
      cmake .. -G"Ninja" -DBUILD_SHARED_LIBS=%BUILD_SHARED%
build_script:
  - ninja

before_test:
  - set PATH="%APPVEYOR_BUILD_FOLDER%\build\bin";%PATH%
  - python -m pip install pytest pytest-xdist

test_script:
  - cmd: >-
      cd %APPVEYOR_BUILD_FOLDER%\build

      ninja run_tests

after_test:
  - ps: >-
      $wc = New-Object 'System.Net.WebClient'

      $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\build\test-results\pytest\results.xml))
