version: 2

.oqsjob: &oqsjob
  docker:
    - image: ${IMAGE}
  steps:
    - checkout
    - run:
        name: Configure
        command: scripts/git_no_checkin_in_last_day.sh || (mkdir build && cd build  && cmake -GNinja ${CONFIGURE_ARGS} ..)
    - run:
        name: Build
        command: ../scripts/git_no_checkin_in_last_day.sh || (source ~/.bashrc && ninja)
        working_directory: build
    - run:
        name: Run tests
        command: ../scripts/git_no_checkin_in_last_day.sh || ninja run_tests
        working_directory: build
    - store_test_results: # Note that this command will fail when running CircleCI locally, that is expected behaviour
        path: build/test-results
    - store_artifacts:
        path: build/test-results

.emulatedjob: &emulatedjob
  machine:
    image: ubuntu-1604:201903-01
  steps:
    - checkout
    - run:
        name: Install the emulation handlers
        command: docker run --rm --privileged multiarch/qemu-user-static:register --reset
    - run:
        name: Run the tests in a container
        command: |
          scripts/git_no_checkin_in_last_day.sh ||
          docker run -e SKIP_TESTS=style --rm -v `pwd`:`pwd` -w `pwd` openquantumsafe/ci-debian-buster-${ARCH}:latest /bin/bash -c "
          uname -a &&
          file /bin/ls &&
          mkdir build &&
          (cd build &&
          cmake -GNinja ${CONFIGURE_ARGS} .. &&
          ninja &&
          ninja run_tests)
          "
    - store_test_results:
        path: build/test-results
    - store_artifacts:
        path: build/test-results

jobs:
  centos-7-amd64:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-centos-7-amd64:latest
      CONFIGURE_ARGS: -DOPENSSL_ROOT_DIR=/usr/local/ssl
      SKIP_TESTS: style
  centos-8-amd64:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-centos-8-amd64:latest
      SKIP_TESTS: style
  debian-buster-amd64:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-debian-buster-amd64:latest
      SKIP_TESTS: style
  debian-buster-arm64:
    <<: *emulatedjob
    environment:
      ARCH: arm64
      CONFIGURE_ARGS: -DOQS_ENABLE_SIG_SPHINCS=OFF # sig-sphincs exhausts memory on CircleCI servers
  debian-buster-armhf:
    <<: *emulatedjob
    environment:
      ARCH: armhf
      CONFIGURE_ARGS: -DOQS_ENABLE_SIG_SPHINCS=OFF -DOQS_ENABLE_SIG_QTESLA=OFF # sig-sphincs exhausts memory on CircleCI servers; qTesla fails on armhf
  debian-buster-armel:
    <<: *emulatedjob
    environment:
      CONFIGURE_ARGS: -DOQS_ENABLE_SIG_SPHINCS=OFF -DOQS_ENABLE_SIG_QTESLA=OFF # sig-sphincs exhausts memory on CircleCI servers; qTesla fails on armel
      ARCH: armel
  ubuntu-bionic-x86_64-gcc7:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
  ubuntu-bionic-x86_64-gcc7-noopenssl:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
      CONFIGURE_ARGS: -DOQS_USE_OPENSSL=OFF
  ubuntu-bionic-x86_64-gcc7-shared:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
      CONFIGURE_ARGS: -DBUILD_SHARED_LIBS=ON
      #TODO: _init and _fini trip test_namespace.py
      SKIP_TESTS: namespace
  ubuntu-bionic-x86_64-gcc8:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-8
  ubuntu-bionic-x86_64-asan:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: clang-9
      CONFIGURE_ARGS: -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER=Address
  ubuntu-bionic-x86_64-ubsan:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: clang-9
      CONFIGURE_ARGS: -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER=Undefined
  macOS:
    macos:
        xcode: "11.3.0"
    environment:
        #TODO: Make tests pass with Release build
        CONFIGURE_ARGS: -DOQS_USE_OPENSSL=OFF
        SKIP_TESTS: style
    steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              scripts/git_no_checkin_in_last_day.sh || (
              brew update &&
              brew unlink python@2 &&
              brew install cmake ninja doxygen astyle &&
              pip3 install pytest pytest-xdist
              )
        - run:
            name: Configure
            command: scripts/git_no_checkin_in_last_day.sh || (mkdir build && cd build && cmake -GNinja ${CONFIGURE_ARGS} ..)
        - run:
            name: Build
            command: ../scripts/git_no_checkin_in_last_day.sh || ninja
            working_directory: build
        - run:
            name: System information
            command: scripts/git_no_checkin_in_last_day.sh || (sysctl -a | grep machdep.cpu)
        - run:
            name: Run tests
            command: ../scripts/git_no_checkin_in_last_day.sh || ninja run_tests
            working_directory: build
        - store_test_results: # Note that this command will fail when running CircleCI locally, that is expected behaviour
            path: build/test-results
        - store_artifacts:
            path: build/test-results

workflows:
  version: 2
  build:
    jobs:
      - centos-7-amd64
      - centos-8-amd64
      - debian-buster-amd64
      - macOS
      - ubuntu-bionic-x86_64-gcc7
      - ubuntu-bionic-x86_64-gcc7-noopenssl
      - ubuntu-bionic-x86_64-gcc7-shared
      - ubuntu-bionic-x86_64-asan
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - centos-7-amd64
      - centos-8-amd64
      - debian-buster-amd64
      - debian-buster-arm64
      - debian-buster-armhf
      - debian-buster-armel
      - macOS
      - ubuntu-bionic-x86_64-gcc7
      - ubuntu-bionic-x86_64-gcc7-noopenssl
      - ubuntu-bionic-x86_64-gcc7-shared
      - ubuntu-bionic-x86_64-gcc8
      - ubuntu-bionic-x86_64-asan
