version: 2

.oqsjob: &oqsjob
  docker:
    - image: ${IMAGE}
  steps:
    - checkout
    - run:
        name: Configure
        command: scripts/git_checkin_in_last_day.sh && autoreconf -i && ./configure --enable-silent-rules ${CONFIGURE_ARGS}
    - run: 
        name: Build
        command: scripts/git_checkin_in_last_day.sh && source ~/.bashrc && make -j && make check
    - run:
        name: Run tests
        command: mkdir -p test-results/pytest && scripts/git_checkin_in_last_day.sh && python3 -m pytest --verbose --junitxml=test-results/pytest/results.xml --numprocesses=auto
    - store_test_results: # Note that this command will fail when running CircleCI locally, that is expected behaviour
        path: test-results
    - store_artifacts: 
        path: test-results

.emulatedjob: &emulatedjob
  machine:
    image: ubuntu-1604:201903-01
  steps:
    - checkout
    - run:
        name: Install the emulation handlers
        command: docker run --rm --privileged multiarch/qemu-user-static:register --reset
    - run: # Skipping sig-sphincs because it exhausts memory on CircleCI
        name: Run the tests in a container
        command: |
          scripts/git_checkin_in_last_day.sh &&
          docker run -e SKIP_TESTS=style --rm -v `pwd`:`pwd` -w `pwd` dstebila/liboqs:debian-buster-${ARCH}-0.1.0 /bin/bash -c "
          uname -a &&
          file /bin/ls &&
          autoreconf -i &&
          ./configure --enable-silent-rules ${CONFIGURE_ARGS} &&
          make &&
          make check &&
          mkdir -p test-results/pytest &&
          python3 -m pytest --verbose --junitxml=test-results/pytest/results.xml --numprocesses=auto
          "
    - store_test_results:
        path: test-results
    - store_artifacts: 
        path: test-results

jobs:
  debian-buster-amd64:
    <<: *oqsjob
    environment:
      IMAGE: dstebila/liboqs:debian-buster-amd64-0.1.0
      SKIP_TESTS: style
  debian-buster-aarch64:
    <<: *emulatedjob
    environment:
      ARCH: aarch64
      CONFIGURE_ARGS: --disable-sig-sphincs # sig-sphincs exhausts memory on CircleCI servers
  debian-buster-armhf:
    <<: *emulatedjob
    environment:
      ARCH: armhf
      CONFIGURE_ARGS: --disable-sig-sphincs --disable-sig-qtesla # sig-sphincs exhausts memory on CircleCI servers; qTesla fails on armhf
  debian-buster-armel:
    <<: *emulatedjob
    environment:
      ARCH: armel
      CONFIGURE_ARGS: --disable-sig-sphincs --disable-sig-qtesla # sig-sphincs exhausts memory on CircleCI servers; qTesla fails on armel
  ubuntu-bionic-x86_64-gcc7:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
  ubuntu-bionic-x86_64-gcc7-noopenssl:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
      CONFIGURE_ARGS: --without-openssl
  ubuntu-bionic-x86_64-gcc7-noshared:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-7
      CONFIGURE_ARGS: --disable-shared 
  ubuntu-bionic-x86_64-gcc8:
    <<: *oqsjob
    environment:
      IMAGE: openquantumsafe/ci-ubuntu-bionic-x86_64:latest
      CC: gcc-8
  centos-7:
    <<: *oqsjob
    environment:
      IMAGE: openqsafe/ci-centos-7
      CONFIGURE_ARGS: --with-openssl=/usr/local/ssl 
      SKIP_TESTS: style
  centos-8:
    <<: *oqsjob
    environment:
      IMAGE: openqsafe/ci-centos-8
      SKIP_TESTS: style
  osx:
    macos:
        xcode: "11.3.0"
    environment:
        CONFIGURE_ARGS: --without-openssl
        SKIP_TESTS: style
    steps:
        - run:
            name: Install dependencies
            command: |
              scripts/git_checkin_in_last_day.sh &&
              brew update && 
              brew unlink python@2 && 
              brew install autoconf automake libtool wget doxygen graphviz clang-format && 
              pip3 install pytest
        - run:
            name: Configure
            command: scripts/git_checkin_in_last_day.sh && autoreconf -i && ./configure --enable-silent-rules ${CONFIGURE_ARGS}
        - run: 
            name: Build
            command: scripts/git_checkin_in_last_day.sh && make -j && make check
        - run:
            name: System information
            command: sysctl -a | grep machdep.cpu && cat src/kem/sike/Makefile && ls -l tests
        - run:
            name: Run tests
            command: mkdir -p test-results/pytest && scripts/git_checkin_in_last_day.sh && python3 -m pytest --verbose --junitxml=test-results/pytest/results.xml --numprocesses=auto
        - store_test_results: # Note that this command will fail when running CircleCI locally, that is expected behaviour
            path: test-results
        - store_artifacts: 
            path: test-results

workflows:
  version: 2
  build:
    jobs:
      - centos-7
      - centos-8
      - debian-buster-amd64
      - ubuntu-bionic-x86_64-gcc7
      - ubuntu-bionic-x86_64-gcc7-noopenssl
      - ubuntu-bionic-x86_64-gcc7-noshared
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - centos-7
      - centos-8
      - osx
      - debian-buster-amd64
      - debian-buster-aarch64
      - debian-buster-armhf
      - debian-buster-armel
      - ubuntu-bionic-x86_64-gcc7
      - ubuntu-bionic-x86_64-gcc7-noopenssl
      - ubuntu-bionic-x86_64-gcc7-noshared
      - ubuntu-bionic-x86_64-gcc8
