// SPDX-License-Identifier: MIT

#include <stdlib.h>

#include <oqs/kem_{{ algfamily_key }}.h>

#if defined({{ param_meta.enable_by }})
OQS_KEM *OQS_KEM_{{ param_key }}_new(void) {

	OQS_KEM *kem = OQS_MEM_calloc(1, sizeof(OQS_KEM));
	if (kem == NULL) {
		return NULL;
	}
	kem->method_name = OQS_KEM_alg_{{ param_key }};
	kem->alg_version = "{{ default_impl_meta.version }}";

	kem->claimed_nist_level = {{ param_meta.strength.value }};
	kem->ind_cca = {{ "true" if param_meta.model == "IND-CCA2" else "false" }};

	kem->length_public_key = OQS_KEM_{{ param_key }}_length_public_key;
	kem->length_secret_key = OQS_KEM_{{ param_key }}_length_secret_key;
	kem->length_ciphertext = OQS_KEM_{{ param_key }}_length_ciphertext;
	kem->length_shared_secret = OQS_KEM_{{ param_key }}_length_shared_secret;
	kem->length_keypair_seed = OQS_KEM_{{ param_key }}_length_keypair_seed;
	kem->length_encaps_seed = OQS_KEM_{{ param_key }}_length_encaps_seed;

	kem->keypair = OQS_KEM_{{ param_key }}_keypair;
	kem->keypair_derand = OQS_KEM_{{ param_key }}_keypair_derand;
	kem->encaps = OQS_KEM_{{ param_key }}_encaps;
	kem->encaps_derand = OQS_KEM_{{ param_key }}_encaps_derand;
	kem->decaps = OQS_KEM_{{ param_key }}_decaps;

	return kem;
}

{# Declare default implementation API #}
extern int {{ default_impl_meta.api.signature_keypair }}(uint8_t *pk, uint8_t *sk);
{% if default_impl_meta.api.signature_keypair_derand -%}
extern int {{ default_impl_meta.api.signature_keypair_derand }}(uint8_t *pk, uint8_t *sk, const uint8_t *seed);
{%- endif %}
extern int {{ default_impl_meta.api.signature_enc }}(uint8_t *ct, uint8_t *ss, const uint8_t *pk);
{% if default_impl_meta.api.signature_enc_derand -%}
extern int {{ default_impl_meta.api.signature_enc_derand }}(uint8_t *ct, uint8_t *ss, const uint8_t *pk, const uint8_t *seed);
{%- endif %}
extern int {{ default_impl_meta.api.signature_dec }}(uint8_t *ss, const uint8_t *ct, const uint8_t *sk);

{# Declare additional implementations API #}
{% for addtl_impl_key, addtl_impl_meta in addtl_impls.items() %}
{% if addtl_impl_meta.uarch.compile_time_guard() %}
#if defined({{ addtl_impl_meta.uarch.compile_time_guard() }})
{% endif %}
#if defined({{ addtl_impl_meta.enable_by }})
extern int {{ addtl_impl_meta.api.signature_keypair }}(uint8_t *pk, uint8_t *sk);
{% if addtl_impl_meta.api.signature_keypair_derand -%}
extern int {{ addtl_impl_meta.api.signature_keypair_derand }}(uint8_t *pk, uint8_t *sk, const uint8_t *seed);
{%- endif %}
extern int {{ addtl_impl_meta.api.signature_enc }}(uint8_t *ct, uint8_t *ss, const uint8_t *pk);
{% if addtl_impl_meta.api.signature_enc_derand -%}
extern int {{ addtl_impl_meta.api.signature_enc_derand }}(uint8_t *ct, uint8_t *ss, const uint8_t *pk, const uint8_t *seed);
{%- endif %}
extern int {{ addtl_impl_meta.api.signature_dec }}(uint8_t *ss, const uint8_t *ct, const uint8_t *sk);
#endif /* {{ addtl_impl_meta.enable_by }} */
{% if addtl_impl_meta.uarch.compile_time_guard() %}
#endif /* {{ addtl_impl_meta.uarch.compile_time_guard() }} */
{% endif %}
{% endfor %}

#endif  /* {{ param_meta.enable_by }} */

