name: Weekly tests

permissions:
  contents: read

on:
  schedule:
    - cron: "5 0 * * 0"

jobs:

  # To guarantee Maintained check is occasionally updated. See
  # https://github.com/ossf/scorecard/blob/main/docs/checks.md#maintained
  scorecard:
    uses: ./.github/workflows/scorecard.yml
    secrets: inherit
    permissions:
      id-token: write
      security-events: write

  extended-tests:
    uses: ./.github/workflows/extended.yml
