name: Windows tests

on: [push, pull_request]

jobs:

  windows-arm64:
    runs-on: windows-2022
    strategy:
      matrix:
        stfl_opt: [ON, OFF]
    steps:
      - uses: actions/checkout@v3
      - name: Generate Project
        run: cmake -B build --toolchain .CMake/toolchain_windows_arm64.cmake -DOQS_ENABLE_SIG_STFL_LMS=ON -DOQS_ENABLE_SIG_STFL_XMSS=ON -DOQS_ENABLE_SIG_STFL_KEY_SIG_GEN=${{ matrix.stfl_opt }} .
      - name: Build Project
        run: cmake --build build

  windows-x86:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        toolchain: [.CMake/toolchain_windows_x86.cmake, .CMake/toolchain_windows_amd64.cmake]
        stfl_opt: [ON, OFF]
    steps:
      - uses: actions/checkout@v3
      - name: Generate Project
        run: cmake -B build --toolchain ${{ matrix.toolchain }} -DOQS_ENABLE_SIG_STFL_LMS=ON -DOQS_ENABLE_SIG_STFL_XMSS=ON -DOQS_ENABLE_SIG_STFL_KEY_SIG_GEN=${{ matrix.stfl_opt }} .
      - name: Build Project
        run: cmake --build build
      - name: Test dependencies
        run: pip.exe install pytest pytest-xdist pyyaml
      - name: Run tests
        run: |
          python -m pytest --numprocesses=auto -vv --maxfail=10 --ignore=tests/test_code_conventions.py --junitxml=build\test-results\pytest\test-results.xml
